    {{!-- Citation Scope: Frontend display of the entity page containing CRUD operations
    Date: 8/1/2023
    Originality: Adapted from starter code
    Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<head>
  <meta charset='utf-8'>
  <title>Home</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar&family=Playfair+Display+SC&display=swap" rel="stylesheet">
</head>
<body>
<body>
  <header>
    <div class="title-container">
      <h2>Book Quest</h2>
    </div>
    <div class="menu-container">
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="books.hbs">BOOKS</a></li>
          <li><a href="authors.hbs">AUTHORS</a></li>
          <li><a href="genres.hbs">GENRES</a></li>
          <li><a href="customers.hbs">CUSTOMERS</a></li>
          <li><a href="orders.hbs">ORDERS</a></li>
          <li><a href="order_has_books.hbs">ORDER_HB</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section>
    <!-- Image Container -->
    <div class="image-container">
      <!-- Images -->
      <div class="bookImg">
        <img src="/images/image1.jpg" alt="Slide 1">
      </div>
      <div class="bookImg">
        <img src="/images/image2.jpg" alt="Slide 2">
      </div>
      <div class="bookImg">
        <img src="/images/image3.jpg" alt="Slide 3">
      </div>
      <div class="bookImg">
        <img src="/images/image4.jpg" alt="Slide 4">
      </div>
    </div>
  </section>

  <!-- Article content -->
    <article>
      <p>This website contains a database for an online bookstore that is pre-populated with sample data. Additional data can be added and existing data can be updated or deleted.</p>
    </article>

</body>
